In [90]:
from pandas import Series,DataFrame,Panel
import pandas as pd
import numpy as np
a = [176.2, 158.4, 167.6, 156.2, 161.4]
heights_A = Series(a,index = ['s1', 's2', 's3', 's4', 's5'])
print(heights_A.shape)

(5,)

In [7]:
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index= ['s1', 's2', 's3', 's4', 's5'])
print(weights_A.dtype)

float64

In [8]:
a = [176.2, 158.4, 167.6, 156.2, 161.4]
heights_A = Series(a,index = ['s1', 's2', 's3', 's4', 's5'])
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index= ['s1', 's2', 's3', 's4', 's5'])
df_A = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
# df_A = DataFrame([['Student_height',heights_A],['Student_weight',weights_A]])
print(df_A.shape)
df_A

(5, 2)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [9]:
np.random.seed(100)
heights_B = Series(170+ 25*np.random.randn(5),index=['s1', 's2', 's3', 's4' ,'s5'])
weights_B = Series(75+ 12*np.random.randn(5),index=['s1', 's2', 's3', 's4' ,'s5'])
print(heights_B.mean())

172.37417741633146

In [10]:
np.random.seed(100)
heights_B = Series(170+ 25*np.random.randn(5),index=['s1', 's2', 's3', 's4' ,'s5'])
weights_B = Series(75+ 12*np.random.randn(5),index=['s1', 's2', 's3', 's4' ,'s5'])
df_B = DataFrame({'Student_height':heights_B,'Student_weight':weights_B})
print(df_B.columns)

Index(['Student_height', 'Student_weight'], dtype='object')

In [11]:
p = Panel({'ClassA':df_A,'ClassB':df_B})
print(p.shape)

(2, 5, 2)

In [12]:
s = Series([89.2, 76.4, 98.2, 75.9], index=list('abcd'))
s['b']

76.400000000000006

In [13]:
s = Series([89.2, 76.4, 98.2, 75.9], index=list('abcd'))
print(s[['c', 'a']])

c    98.2
a    89.2
dtype: float64

In [14]:
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = DataFrame(data)
print(df)
df.shape

   a   b     c
0  1   2   NaN
1  5  10  20.0

(2, 3)

In [18]:
# DataFrame(((1,2,3),(4,5,6)))   #would not work
DataFrame([[1,2,3],[4,5,6]])

   0  1  2
0  1  2  3
1  4  5  6

In [50]:
s = Series(np.arange(10,16),index=list('abcdef'))
print(s)
print()
print(s[2])
print()
print(s['e']).

a    10
b    11
c    12
d    13
e    14
f    15
dtype: int32

12

14

In [55]:
s = Series(np.arange(6),index=list('qwerty'))
print(s.get(4))
print(s.get('w'))

4
1

In [57]:
s = Series(np.arange(6),index=list('abcdef'))
print(s)
print(s[2:5])
print(s['b':'e'])     #e was also included

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int32
c    2
d    3
e    4
dtype: int32
b    1
c    2
d    3
e    4
dtype: int32

In [63]:
df = DataFrame({'col1':np.random.randn(6),'col2':np.random.randn(6) })
print(df)
print(df[1:5],end='\n\n')
print(df['col1'],end='\n\n')
print(df['col1'][2:5])

       col1      col2
0  0.613039 -0.331777
1  0.736205 -0.689218
2  1.026921  2.034608
3 -1.432191 -0.550714
4 -1.841188  0.750453
5  0.366093 -1.306992
       col1      col2
1  0.736205 -0.689218
2  1.026921  2.034608
3 -1.432191 -0.550714
4 -1.841188  0.750453

0    0.613039
1    0.736205
2    1.026921
3   -1.432191
4   -1.841188
5    0.366093
Name: col1, dtype: float64

2    1.026921
3   -1.432191
4   -1.841188
Name: col1, dtype: float64

In [66]:
heights_A  = Series([176.2, 158.4, 167.6, 156.2, 161.4],index='s1, s2, s3, s4, s5'.split(', '))
print(heights_A[1])

158.4

In [70]:
print(heights_A[1:4])

s2    158.4
s3    167.6
s4    156.2
dtype: float64

In [84]:
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index='s1, s2, s3, s4, s5'.split(', '))
df_A = DataFrame({'Student_height': heights_A, 'Student_weight': weights_A })
height = df_A['Student_height']
print(type(height))

<class 'pandas.core.series.Series'>

In [85]:
df_s1s2 = df_A.loc['s1':'s2']
print(df_s1s2)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2

In [118]:
heights_A  = Series([176.2, 158.4, 167.6, 156.2, 161.4],index='s1, s2, s3, s4, s5'.split(', '))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index='s1, s2, s3, s4, s5'.split(', '))
df_A = DataFrame({'Student_height': heights_A, 'Student_weight': weights_A })
df_s2s5s1 = df_A.loc[['s2','s5','s1'],['Student_height','Student_weight']]
print(df_s2s5s1)

    Student_height  Student_weight
s2           158.4            90.2
s5           161.4            78.9
s1           176.2            85.1

In [145]:
heights_A  = Series([176.2, 158.4, 167.6, 156.2, 161.4],index='s1, s2, s3, s4, s5'.split(', '))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index='s1, s2, s3, s4, s5'.split(', '))
df_A = DataFrame({'Student_height': heights_A, 'Student_weight': weights_A })
df_s1s4 = df_A.loc[df_A.index.str.endswith(('1','4'))]
print(df_s1s4)

    Student_height  Student_weight
s1           176.2            85.1
s4           156.2            80.4

In [148]:
df = DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df[:2]

     A   B
r1  34  12
r2  78  67

In [21]:
df = DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df.loc['r1']

A    34
B    12
Name: r1, dtype: int64

In [159]:
df = DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df['C'] = [12,98,85]
df

     A   B   C
r1  34  12  12
r2  78  67  98
r3  54  43  85

In [25]:
np.random.seed(100)
s = Series(10 + 2*np.random.randn(10))
print(s.describe())
type(s.describe())

count    10.000000
mean     10.041139
std       1.775181
min       6.500469
25%       9.526598
50%      10.476181
75%      10.942668
max      12.306072
dtype: float64

pandas.core.series.Series

In [172]:
df = DataFrame({'temp': 28 + 10*np.random.randn(10),
               'rain': 100 + 50* np.random.randn(10),
              'location': list('AABBABABBA')})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
location    10 non-null object
rain        10 non-null float64
temp        10 non-null float64
dtypes: float64(2), object(1)
memory usage: 320.0+ bytes

In [176]:
print(df.describe())
print()
print(df.describe(include=['object','float64']))

             rain       temp
count   10.000000  10.000000
mean   101.406160  25.907314
std     43.429342  11.519318
min     21.665624   9.588117
25%     78.647577  17.993032
50%    113.427622  23.587542
75%    134.465681  33.269533
max    145.248706  48.346076

       location        rain       temp
count        10   10.000000  10.000000
unique        2         NaN        NaN
top           B         NaN        NaN
freq          5         NaN        NaN
mean        NaN  101.406160  25.907314
std         NaN   43.429342  11.519318
min         NaN   21.665624   9.588117
25%         NaN   78.647577  17.993032
50%         NaN  113.427622  23.587542
75%         NaN  134.465681  33.269533
max         NaN  145.248706  48.346076

In [72]:
df = DataFrame({'Geo':list('aaaabbabab'),
               'temp':np.random.rand(10),
               'rain': np.random.rand(10)})
print(df,end='\n\n')
print(df.loc[5:9,'Geo'],end='\n\n')
df['count'] = df.groupby(['Geo'])['Geo'].transform('count')

  Geo      rain      temp
0   a  0.644205  0.867660
1   a  0.398451  0.457620
2   a  0.150327  0.101930
3   a  0.456613  0.690376
4   b  0.730887  0.438309
5   b  0.363719  0.571599
6   a  0.162274  0.104121
7   b  0.161300  0.916986
8   a  0.539472  0.212570
9   b  0.683448  0.135908

5    b
6    a
7    b
8    a
9    b
Name: Geo, dtype: object

0    6
1    6
2    6
3    6
4    4
5    4
6    6
7    4
8    6
9    4
Name: Geo, dtype: int64

In [79]:
df = DataFrame({'Geo':list('aaaabbabab'),
               'temp':np.random.rand(10),
               'rain': np.random.rand(10)})
print(df)
df.rename(columns={'Geo':'G'},inplace=True)
df

  Geo      rain      temp
0   a  0.627589  0.840875
1   a  0.489451  0.773196
2   a  0.603216  0.429042
3   a  0.318839  0.079143
4   b  0.407727  0.737336
5   b  0.757792  0.407452
6   a  0.355389  0.648492
7   b  0.861524  0.946239
8   a  0.562538  0.281774
9   b  0.872202  0.145844

   G      rain      temp
0  a  0.627589  0.840875
1  a  0.489451  0.773196
2  a  0.603216  0.429042
3  a  0.318839  0.079143
4  b  0.407727  0.737336
5  b  0.757792  0.407452
6  a  0.355389  0.648492
7  b  0.861524  0.946239
8  a  0.562538  0.281774
9  b  0.872202  0.145844

In [83]:
import MySQLdb

ModuleNotFoundError: No module named 'MySQLdb'

In [85]:
print('helloo')

helloo

In [92]:
heights_A = Series([176.2, 158.4, 167.6, 156.2, 161.4], index='s1,s2,s3,s4,s5'.split(","))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9], index='s1,s2,s3,s4,s5'.split(","))
df_A = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
df_A.to_csv('classA.csv')

In [93]:
heights_A = Series([176.2, 158.4, 167.6, 156.2, 161.4], index='s1,s2,s3,s4,s5'.split(","))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9], index='s1,s2,s3,s4,s5'.split(","))
df_A = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
df_A.to_csv('classA.csv')
df_A2 = pd.read_csv('classA.csv')
print(df_A2)

  Unnamed: 0  Student_height  Student_weight
0         s1           176.2            85.1
1         s2           158.4            90.2
2         s3           167.6            76.8
3         s4           156.2            80.4
4         s5           161.4            78.9

In [94]:
heights_A = Series([176.2, 158.4, 167.6, 156.2, 161.4], index='s1,s2,s3,s4,s5'.split(","))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9], index='s1,s2,s3,s4,s5'.split(","))
df_A = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
df_A.to_csv('classA.csv')
df_A3 = pd.read_csv('classA.csv',index_col=0)
print(df_A3)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           167.6            76.8
s4           156.2            80.4
s5           161.4            78.9

In [97]:
np.random.seed(100)
heights_B = Series(170 + 25*np.random.randn(5), index='s1,s2,s3,s4,s5'.split(","))
np.random.seed(100)
weights_B = Series(75 + 12*np.random.randn(5), index='s1,s2,s3,s4,s5'.split(","))
df_B = DataFrame({'Student_height':heights_B,'Student_weight':weights_B})
df_B.to_csv('classB.csv',index = False)

In [98]:
np.random.seed(100)
heights_B = Series(170 + 25*np.random.randn(5), index='s1,s2,s3,s4,s5'.split(","))
np.random.seed(100)
weights_B = Series(75 + 12*np.random.randn(5), index='s1,s2,s3,s4,s5'.split(","))
df_B = DataFrame({'Student_height':heights_B,'Student_weight':weights_B})
df_B.to_csv('classB.csv',index = False)
df_B2 = pd.read_csv('classB.csv')
print(df_B2)

   Student_height  Student_weight
0      126.255863       54.002814
1      178.567010       79.112165
2      198.825895       88.836430
3      163.689099       71.970768
4      194.533020       86.775849

In [99]:
np.random.seed(100)
heights_B = Series(170 + 25*np.random.randn(5), index='s1,s2,s3,s4,s5'.split(","))
np.random.seed(100)
weights_B = Series(75 + 12*np.random.randn(5), index='s1,s2,s3,s4,s5'.split(","))
df_B = DataFrame({'Student_height':heights_B,'Student_weight':weights_B})
df_B.to_csv('classB.csv',index = False)
df_B3 = pd.read_csv('classB.csv',header=None)
print(df_B3)

                    0                  1
0      Student_height     Student_weight
1  126.25586317363256  54.00281432334363
2  178.56701008318754  79.11216483993003
3   198.8258950640911  88.83642963076373
4  163.68909908696526  71.97076756174332
5  194.53301967378079  86.77584944341478

In [100]:
np.random.seed(100)
heights_B = Series(170 + 25*np.random.randn(5), index='s1,s2,s3,s4,s5'.split(","))
np.random.seed(100)
weights_B = Series(75 + 12*np.random.randn(5), index='s1,s2,s3,s4,s5'.split(","))
df_B = DataFrame({'Student_height':heights_B,'Student_weight':weights_B})
df_B.to_csv('classB.csv',index = False)
df_B4 = pd.read_csv('classB.csv',header=None,skiprows=2)
print(df_B4)

            0          1
0  178.567010  79.112165
1  198.825895  88.836430
2  163.689099  71.970768
3  194.533020  86.775849

In [108]:
ufo = pd.read_csv('https://bit.ly/uforeports')

In [109]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [110]:
ufo.dtypes

City               object
Colors Reported    object
Shape Reported     object
State              object
Time               object
dtype: object

In [115]:
ufo['Time'] = pd.to_datetime(ufo.Time)

In [116]:
ufo.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

In [121]:
print(ufo.Time.dt.hour.head())
print(ufo.Time.dt.year.head())
print(ufo.Time.dt.day.head())
print(ufo.Time.dt.month.head())

0    22
1    20
2    14
3    13
4    19
Name: Time, dtype: int64
0    1930
1    1930
2    1931
3    1931
4    1933
Name: Time, dtype: int64
0     1
1    30
2    15
3     1
4    18
Name: Time, dtype: int64
0    6
1    6
2    2
3    6
4    4
Name: Time, dtype: int64

In [123]:
newYear = pd.to_datetime('1 JAN 2000') 
newYear

Timestamp('2000-01-01 00:00:00')

In [150]:
ufo.loc[ ufo.Time > newYear].head()

,City,Colors Reported,Shape Reported,State,Time,year
15606,Bakersfield,NaN,NaN,CA,2000-01-01 00:01:00,2000
15607,New York City,NaN,SPHERE,NY,2000-01-01 00:01:00,2000
15608,Los Angeles,NaN,NaN,CA,2000-01-01 00:03:00,2000
15609,San Diego,GREEN,LIGHT,CA,2000-01-01 00:23:00,2000
15610,Laporte,NaN,OTHER,TX,2000-01-01 02:13:00,2000

In [128]:
ufo.Time.dt.year.value_counts().head()

1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
Name: Time, dtype: int64

In [152]:
ufo['year'] = ufo.Time.dt.year
idx = ufo[['year','Time']].groupby('year').Time.idxmax()
ufo.loc[ufo.index.isin(idx)]

,City,Colors Reported,Shape Reported,State,Time,year
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00,1930
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00,1931
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00,1933
5,Valley City,NaN,DISK,ND,1934-09-15 15:30:00,1934
6,Crater Lake,NaN,CIRCLE,CA,1935-06-15 00:00:00,1935
8,Eklutna,NaN,CIGAR,AK,1936-10-15 17:00:00,1936
10,Fontana,NaN,LIGHT,CA,1937-08-15 21:00:00,1937
13,Keokuk,NaN,OVAL,IA,1939-07-07 02:00:00,1939
15,Forest Home,NaN,CIRCLE,CA,1941-07-02 11:30:00,1941
18,Oneida,NaN,RECTANGLE,TN,1942-07-15 01:00:00,1942
23,Owensboro,NaN,RECTANGLE,KY,1943-10-15 11:00:00,1943
31,North Tampa,NaN,CYLINDER,FL,1944-07-15 13:00:00,1944
40,Roswell,NaN,SPHERE,NM,1945-12-15 02:00:00,1945
48,Dome,NaN,FLASH,AZ,1946-09-30 20:30:00,1946
89,Whitmore Lake,NaN,CIGAR,MI,1947-12-24 21:00:00,1947
98,Sharpsburg,NaN,CIRCLE,MD,1948-12-12 23:30:00,1948
117,Baltimore,NaN,CIGAR,MD,1949-10-15 20:00:00,1949
148,Half Moon Bay,NaN,OTHER,CA,1950-12-12 22:00:00,1950
169,Holloman AFB,NaN,CIRCLE,NM,1951-11-15 06:00:00,1951
221,Camp McCoy,NaN,CYLINDER,WI,1952-12-30 12:00:00,1952
257,Lackland Air Force Base,NaN,DISK,TX,1953-11-25 04:25:00,1953
312,Yucaipa,NaN,OVAL,CA,1954-12-16 16:50:00,1954
345,Rhinebeck,NaN,LIGHT,NY,1955-10-15 20:00:00,1955
391,Columbus,NaN,FORMATION,OH,1956-12-01 23:00:00,1956
468,Madison,NaN,CIGAR,WI,1957-12-28 00:00:00,1957
522,Milwaukee,NaN,DISK,WI,1958-11-25 23:00:00,1958
579,Del Mar,NaN,NaN,CA,1959-12-30 23:00:00,1959
646,Kansas City,NaN,NaN,KS,1960-11-15 22:00:00,1960
696,Forestburg,NaN,SPHERE,TX,1961-12-26 20:00:00,1961
768,New York City,NaN,CIGAR,NY,1962-12-21 23:21:00,1962
...,...,...,...,...,...,...
2176,Oxnard,BLUE,SPHERE,CA,1971-12-25 08:00:00,1971
2338,Colorado Springs,NaN,DISK,CO,1972-12-24 02:00:00,1972
2565,Colorado,ORANGE,DISK,CO,1973-12-23 16:00:00,1973
2826,Beaumont,NaN,CIGAR,TX,1974-12-15 02:00:00,1974
3138,Lisle,NaN,LIGHT,IL,1975-12-31 22:30:00,1975
3419,Conshohocken,NaN,OTHER,PA,1976-12-27 19:00:00,1976
3677,Worcester,NaN,DISK,MA,1977-12-28 20:00:00,1977
4003,Hopewell,NaN,DISK,NJ,1978-12-31 00:30:00,1978
4240,Spartanburg,NaN,CIRCLE,SC,1979-12-31 23:00:00,1979
4484,Chicopee,GREEN,DIAMOND,MA,1980-12-30 23:30:00,1980
4659,Woodstown,NaN,DISK,NJ,1981-12-29 22:00:00,1981
4845,High Point,NaN,LIGHT,NC,1982-12-25 19:00:00,1982
4993,Charlottesville,NaN,DISK,VA,1983-12-31 20:00:00,1983
5170,Tocca,NaN,TRIANGLE,GA,1984-12-24 23:15:00,1984
5381,Ridgefield,NaN,CIRCLE,CT,1985-12-25 22:00:00,1985
5567,Houston,NaN,FORMATION,TX,1986-12-31 21:00:00,1986
5777,Woodbridge,ORANGE,SPHERE,VA,1987-12-31 23:00:00,1987
6009,Ovid,NaN,FORMATION,MI,1988-12-23 20:35:00,1988
6256,Ocala,NaN,TRIANGLE,FL,1989-12-31 23:00:00,1989
6493,Chinook,NaN,NaN,WA,1990-12-31 22:30:00,1990
6713,Vassar,NaN,CIRCLE,MI,1991-12-30 00:00:00,1991
6958,Bristol,NaN,OTHER,VA,1992-12-31 23:00:00,1992
7250,Topton,NaN,NaN,MS,1993-12-28 01:00:00,1993
7656,Fontana,RED,LIGHT,CA,1994-12-31 22:30:00,1994
9000,Lake Stevens,NaN,FIREBALL,WA,1995-12-31 21:00:00,1995
9850,Gardner,NaN,CIRCLE,MA,1996-12-31 20:00:00,1996
11087,Manassas,NaN,FORMATION,VA,1997-12-31 20:30:00,1997
12831,Appleton,NaN,TEARDROP,WI,1998-12-31 23:59:00,1998
15605,Bellflower,NaN,FIREBALL,CA,1999-12-31 23:59:00,1999
18240,Ybor,NaN,OVAL,FL,2000-12-31 23:59:00,2000

In [155]:
dates = pd.date_range('1-Sep-2017','15-Sep-2017')
print(dates[2])

2017-09-03 00:00:00

In [156]:
datelist = ['14-Sep-2017', '9-Sep-2017']
dates_to_be_searched = pd.to_datetime(datelist)
print(dates_to_be_searched)

DatetimeIndex(['2017-09-14', '2017-09-09'], dtype='datetime64[ns]', freq=None)

In [166]:
dates = pd.date_range('1-Sep-2017','15-Sep-2017')
datelist = ['14-Sep-2017', '9-Sep-2017']
dates_to_be_searched = pd.to_datetime(datelist)
# print(dates.isin(dates_to_be_searched))
print(dates_to_be_searched.isin(dates))

array([ True,  True], dtype=bool)

In [175]:
arraylist = [['classA']*5 + ['classB']*5, ['s1', 's2', 's3','s4', 's5']*2]
mi_index  = pd.MultiIndex.from_arrays(arraylist)
print(mi_index.levels)

[['classA', 'classB'], ['s1', 's2', 's3', 's4', 's5']]

In [182]:
d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
len(d[d.isin(pd.to_datetime(['12-09-2017', '15-09-2017']))])

1

In [184]:
len(pd.bdate_range('11-Sep-2017', '17-Sep-2017', freq='2D'))

4

In [186]:
len(pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D'))

4

In [198]:
heights_A = Series([176.2, 158.4, 167.6, 156.2, 161.4],index = 's1, s2, s3, s4, s5'.split(', '))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index = 's1, s2, s3, s4, s5'.split(', '))
df_A = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
missing = np.NaN
df_A.loc['s3',:] = missing
df_A.loc['s5','Student_weight'] = missing
df_A2 = df_A.dropna()
print(df_A2)

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s4           156.2            80.4

In [199]:
heights_A = Series([176.2, 158.4, 167.6, 156.2, 161.4],index = 's1, s2, s3, s4, s5'.split(', '))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index = 's1, s2, s3, s4, s5'.split(', '))
df_A = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
missing = np.NaN
df_A.loc['s3',:] = missing
df_A.loc['s5','Student_weight'] = missing
print(df_A)
df_A.fillna(method='ffill')

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3             NaN             NaN
s4           156.2            80.4
s5           161.4             NaN

    Student_height  Student_weight
s1           176.2            85.1
s2           158.4            90.2
s3           158.4            90.2
s4           156.2            80.4
s5           161.4            80.4

In [205]:
store = pd.read_csv('Ex_Files_Python_Data_Science_EssT_Pt_1/Exercise Files/Data/Superstore-Sales.csv',encoding='unicode_escape')

In [207]:
store.head()

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
0,1,3,10/13/2010,Low,6,261.5400,0.04,Regular Air,-213.25,38.94,...,Muhammed MacIntyre,Nunavut,Nunavut,Small Business,Office Supplies,Storage & Organization,"Eldon Base for stackable storage shelf, platinum",Large Box,0.80,10/20/2010
1,49,293,10/1/2012,High,49,10123.0200,0.07,Delivery Truck,457.81,208.16,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,"1.7 Cubic Foot Compact ""Cube"" Office Refrigera...",Jumbo Drum,0.58,10/2/2012
2,50,293,10/1/2012,High,27,244.5700,0.01,Regular Air,46.71,8.69,...,Barry French,Nunavut,Nunavut,Consumer,Office Supplies,Binders and Binder Accessories,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",Small Box,0.39,10/3/2012
3,80,483,7/10/2011,High,30,4965.7595,0.08,Regular Air,1198.97,195.99,...,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,7/12/2011
4,85,515,8/28/2010,Not Specified,19,394.2700,0.08,Regular Air,30.94,21.78,...,Carlos Soltero,Nunavut,Nunavut,Consumer,Office Supplies,Appliances,Holmes HEPA Air Purifier,Medium Box,0.50,8/30/2010

In [216]:
store[ store.Sales > 30000]

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
3512,452,3073,1/7/2009,Medium,7,45923.76,0.07,Regular Air,102.61,6783.02,...,Jasper Cacioppo,Quebec,Quebec,Home Office,Technology,Office Machines,Polycom ViewStation ISDN Videoconferencing Unit,Large Box,0.39,1/8/2009
3572,2026,14435,12/1/2012,Not Specified,9,33367.85,0.01,Regular Air,3992.52,3499.99,...,Dennis Kane,Quebec,Quebec,Small Business,Technology,Copiers and Fax,Canon imageCLASS 2200 Advanced Copier,Large Box,0.37,12/4/2012
4674,4190,29766,3/21/2009,Medium,13,89061.05,0.00,Regular Air,27220.69,6783.02,...,Emily Phan,New Brunswick,Atlantic,Consumer,Technology,Office Machines,Polycom ViewStation ISDN Videoconferencing Unit,Large Box,0.39,3/22/2009
5861,4264,30343,5/21/2012,Critical,8,41343.21,0.09,Regular Air,3852.19,6783.02,...,Craig Carreira,Saskachewan,Prarie,Corporate,Technology,Office Machines,Polycom ViewStation ISDN Videoconferencing Unit,Large Box,0.39,5/23/2012

In [217]:
store [ store['Customer Segment'] == 'Corporate']

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
3,80,483,7/10/2011,High,30,4965.7595,0.08,Regular Air,1198.97,195.99,...,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,7/12/2011
6,97,613,6/17/2011,High,12,93.5400,0.03,Regular Air,-54.04,7.30,...,Carl Jackson,Nunavut,Nunavut,Corporate,Office Supplies,Binders and Binder Accessories,"Angle-D Binders with Locking Rings, Label Holders",Small Box,0.38,6/17/2011
7,98,613,6/17/2011,High,22,905.0800,0.09,Regular Air,127.70,42.76,...,Carl Jackson,Nunavut,Nunavut,Corporate,Office Supplies,Storage & Organization,"SAFCO Mobile Desk Side File, Wire Frame",Small Box,NaN,6/18/2011
8,103,643,3/24/2011,High,21,2781.8200,0.07,Express Air,-695.26,138.14,...,Monica Federle,Nunavut,Nunavut,Corporate,Office Supplies,Storage & Organization,"SAFCO Commercial Wire Shelving, Black",Large Box,NaN,3/25/2011
19,203,1344,4/15/2012,Low,15,834.9040,0.06,Regular Air,-11.68,65.99,...,Jim Radford,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,g520,Small Box,0.59,4/22/2012
20,204,1344,4/15/2012,Low,18,2480.9205,0.01,Regular Air,313.58,155.99,...,Jim Radford,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,LX 788,Small Box,0.58,4/19/2012
23,229,1539,3/9/2011,Low,33,511.8300,0.10,Regular Air,-172.88,15.99,...,Carl Ludwig,Nunavut,Nunavut,Corporate,Office Supplies,Binders and Binder Accessories,"GBC Pre-Punched Binding Paper, Plastic, White,...",Small Box,0.37,3/11/2011
24,230,1539,3/9/2011,Low,38,184.9900,0.05,Regular Air,-144.55,4.89,...,Carl Ludwig,Nunavut,Nunavut,Corporate,Technology,Computer Peripherals,"Maxell 3.5"" DS/HD IBM-Formatted Diskettes, 10/...",Small Pack,0.66,3/14/2011
27,250,1761,12/23/2010,High,25,12028.2300,0.01,Delivery Truck,-547.61,449.99,...,Carl Ludwig,Nunavut,Nunavut,Corporate,Technology,Copiers and Fax,Canon PC940 Copier,Jumbo Drum,0.38,12/25/2010
32,362,2532,10/10/2011,High,39,282.0700,0.03,Regular Air,140.01,7.31,...,Alan Barnes,Nunavut,Nunavut,Corporate,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Small Box,0.38,10/11/2011
33,363,2532,10/10/2011,High,24,426.0370,0.01,Regular Air,-78.96,20.99,...,Alan Barnes,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,Accessory37,Wrap Bag,0.81,10/11/2011
34,381,2631,9/23/2010,Low,27,1078.4900,0.08,Regular Air,252.66,40.96,...,Jack Garza,Nunavut,Nunavut,Corporate,Technology,Computer Peripherals,Fuji 5.2GB DVD-RAM,Small Pack,0.55,9/25/2010
35,406,2757,7/19/2011,Critical,39,3554.4600,0.07,Delivery Truck,-1766.01,95.95,...,Julia West,Nunavut,Nunavut,Corporate,Furniture,Chairs & Chairmats,Bevis Steel Folding Chairs,Jumbo Drum,0.57,7/19/2011
36,413,2791,10/9/2009,High,47,191.6700,0.00,Regular Air,-236.27,3.89,...,Eugene Barchas,Nunavut,Nunavut,Corporate,Office Supplies,Binders and Binder Accessories,Avery Binder Labels,Small Box,0.37,10/9/2009
37,414,2791,10/9/2009,High,49,5586.3300,0.09,Delivery Truck,80.44,120.98,...,Eugene Barchas,Nunavut,Nunavut,Corporate,Furniture,Chairs & Chairmats,Hon Every-Day Chair Series Swivel Task Chairs,Jumbo Drum,0.64,10/11/2009
38,415,2791,10/9/2009,High,18,507.6400,0.10,Regular Air,118.94,30.98,...,Eugene Barchas,Nunavut,Nunavut,Corporate,Office Supplies,Paper,"IBM Multi-Purpose Copy Paper, 8 1/2 x 11"", Case",Small Box,0.40,10/10/2009
42,577,3908,3/8/2010,Medium,8,820.2840,0.00,Regular Air,-180.20,115.99,...,Dorothy Wardle,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,6160,Small Box,0.57,3/8/2010
43,606,4132,5/28/2011,Not Specified,5,14.7600,0.01,Regular Air,1.32,2.88,...,Aaron Bergman,Nunavut,Nunavut,Corporate,Office Supplies,Labels,Avery 49,Small Box,0.36,5/30/2011
44,656,4612,9/19/2010,Medium,9,89.5500,0.06,Regular Air,-375.64,4.48,...,Jim Radford,Nunavut,Nunavut,Corporate,Office Supplies,Appliances,Hoover Portapower Portable Vacuum,Large Box,0.60,9/21/2010
50,735,5316,1/30/2009,Critical,42,1285.3700,0.10,Regular Air,514.07,31.78,...,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Computer Peripherals,"Memorex 4.7GB DVD-RAM, 3/Pack",Small Pack,0.42,2/1/2009
51,755,5409,1/8/2012,Low,11,48.9100,0.01,Regular Air,-7.04,3.98,...,Don Jones,Nunavut,Nunavut,Corporate,Office Supplies,Paper,Unpadded Memo Slips,Wrap Bag,0.35,1/13/2012
52,769,5506,11/7/2010,Critical,22,129.6200,0.05,Regular Air,4.41,5.88,...,Beth Thompson,Nunavut,Nunavut,Corporate,Office Supplies,Paper,Adams Telephone Message Book W/Dividers/Space ...,Wrap Bag,0.36,11/8/2010
53,782,5569,4/29/2010,Not Specified,12,118.9700,0.09,Regular Air,-0.06,9.65,...,Frank Price,Nunavut,Nunavut,Corporate,Furniture,Office Furnishings,"Eldon Expressions Desk Accessory, Wood Pencil...",Small Box,0.55,5/1/2010
55,817,5894,8/12/2009,High,7,384.3300,0.10,Regular Air,87.68,58.10,...,Ann Chong,Nunavut,Nunavut,Corporate,Office Supplies,Binders and Binder Accessories,Avery Arch Ring Binders,Small Box,0.38,8/13/2009
56,818,5894,8/12/2009,High,3,239.0300,0.01,Regular Air,-68.22,80.48,...,Ann Chong,Nunavut,Nunavut,Corporate,Office Supplies,Appliances,APC 7 Outlet Network SurgeArrest Surge Protector,Small Box,0.55,8/15/2009
60,853,6116,3/20/2009,Medium,6,9620.8200,0.04,Regular Air,-1759.58,1637.53,...,Barry Weirich,Nunavut,Nunavut,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",High Speed Automatic Electric Letter Opener,Medium Box,0.81,3/22/2009
61,863,6182,7/21/2012,Low,40,255.4800,0.04,Regular Air,-116.79,6.48,...,Grant Carroll,Nunavut,Nunavut,Corporate,Office Supplies,Paper,Xerox 1966,Small Box,0.36,7/28/2012
62,864,6182,7/21/2012,Low,18,130.3200,0.04,Express Air,-67.28,6.48,...,Grant Carroll,Nunavut,Nunavut,Corporate,Office Supplies,Paper,Xerox 213,Small Box,0.37,7/25/2012
63,911,6535,6/12/2012,Critical,11,312.3600,0.07,Express Air,-19.33,28.15,...,Adrian Hane,Nunavut,Nunavut,Corporate,Office Supplies,Pens & Art Supplies,"Boston Electric Pencil Sharpener, Model 1818, ...",Small Pack,0.57,6/15/2012
68,964,6982,11/16/2011,Not Specified,32,1311.2500,0.00,Express Air,407.44,39.48,...,Dorothy Wardle,Nunavut,Nunavut,Corporate,Technology,Computer Peripherals,"80 Minute CD-R Spindle, 100/Pack - Staples",Small Pack,0.54,11/18/2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8275,4340,30913,9/22/2012,Medium,24,496.6200,0.07,Express Air,49.86,19.98,...,Roy Phan,Alberta,West,Corporate,Furniture,Office Furnishings,12-1/2 Diameter Round Wall Clock,Small Box,0.49,9/24/2012
8297,5042,35936,1/21/2009,Medium,41,312.2600,0.08,Regular Air,-10.38,7.84,...,Roy Phan,Alberta,West,Corporate,Office Supplies,Binders and Binder Accessories,XtraLife ClearVue Slant-D Ring Binders by C...,Small Box,0.35,1/22/2009
8298,5043,35936,1/21/2009,Medium,40,4152.5500,0.03,Regular Air,813.33,105.34,...,Roy Phan,Alberta,West,Corporate,Furniture,Office Furnishings,Deflect-o DuraMat Antistatic Studded Beveled M...,Large Box,0.61,1/22/2009
8300,5086,36262,7/27/2010,Not Specified,23,164.0200,0.03,Express Air,-47.64,6.68,...,Aaron Bergman,Alberta,West,Corporate,Office Supplies,Paper,Xerox 1968,Small Box,0.37,7/28/2010
8301,5087,36262,7/27/2010,Not Specified,23,136.8100,0.01,Regular Air,-30.51,5.68,...,Aaron Bergman,Alberta,West,Corporate,Office Supplies,"Scissors, Rulers and Trimmers",Acme Preferred Stainless Steel Scissors,Small Pack,0.56,7/28/2010
8302,5088,36262,7/27/2010,Not Specified,26,4701.6900,0.00,Express Air,1148.90,205.99,...,Aaron Bergman,Alberta,West,Corporate,Technology,Telephones and Communication,V70,Small Box,0.59,7/27/2010
8303,5089,36292,2/7/2010,Critical,21,109.8700,0.05,Regular Air,-98.17,4.98,...,Christine Abelman,Alberta,West,Corporate,Office Supplies,Paper,Xerox 1961,Small Box,0.38,2/8/2010
8304,5090,36292,2/7/2010,Critical,37,816.6500,0.09,Regular Air,-182.80,22.84,...,Christine Abelman,Alberta,West,Corporate,Office Supplies,Paper,Xerox 1982,Small Box,0.39,2/7/2010
8310,5206,36998,9/29/2012,Low,50,481.2300,0.07,Regular Air,-409.24,9.98,...,Christine Abelman,Alberta,West,Corporate,Furniture,Office Furnishings,Eldon Expressions Wood and Plastic Desk Acce...,Small Box,0.57,10/4/2012
8311,5207,36998,9/29/2012,Low,41,265.3900,0.10,Regular Air,-237.01,6.48,...,Christine Abelman,Alberta,West,Corporate,Office Supplies,Paper,Xerox 1905,Small Box,0.37,10/6/2012
8312,5208,36998,9/29/2012,Low,8,56.5000,0.02,Regular Air,-17.16,6.48,...,Christine Abelman,Alberta,West,Corporate,Office Supplies,Paper,Xerox 1995,Small Box,0.37,10/1/2012
8317,5597,39682,11/9/2010,Medium,43,2337.8900,0.09,Express Air,729.34,55.48,...,Aaron Bergman,Alberta,West,Corporate,Office Supplies,Paper,Xerox 194,Small Box,0.37,11/11/2010
8321,5673,40128,2/9/2009,Low,43,10318.7200,0.01,Delivery Truck,1445.36,240.98,...,Christine Abelman,Alberta,West,Corporate,Furniture,Bookcases,"Atlantic Metals Mobile 2-Shelf Bookcases, Cust...",Jumbo Box,0.56,2/16/2009
8326,5818,41255,10/18/2009,Low,22,1333.1900,0.01,Regular Air,331.48,60.65,...,Christine Abelman,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Traditional Chairmats for Medium Pile Ca...,Medium Box,0.64,10/25/2009
8338,6681,47524,4/15/2010,Medium,8,269.1400,0.10,Regular Air,-160.72,35.77,...,Jeremy Lonsdale,Alberta,West,Corporate,Technology,Computer Peripherals,"IBM Numeric Access II Keypad, 17-Key, Black",Small Box,0.75,4/17/2010
8346,7109,50726,10/31/2011,Low,45,9248.7400,0.00,Delivery Truck,2532.00,200.98,...,Ruben Dartt,Alberta,West,Corporate,Furniture,Chairs & Chairmats,Global Leather Highback Executive Chair with P...,Jumbo Drum,0.58,11/4/2011
8347,7110,50726,10/31/2011,Low,21,98.8800,0.07,Express Air,36.01,4.13,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,Labels,Avery 491,Small Box,0.39,10/31/2011
8356,7390,52673,5/8/2012,Medium,14,2045.0660,0.07,Regular Air,-4.68,175.99,...,Ruben Dartt,Alberta,West,Corporate,Technology,Telephones and Communication,2180,Small Box,0.57,5/9/2012
8357,7391,52673,5/8/2012,Medium,4,26.4100,0.05,Regular Air,-16.53,5.18,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,Binders and Binder Accessories,Wilson Jones Impact Binders,Small Box,0.36,5/10/2012
8359,7549,54019,7/1/2009,Low,35,4233.1500,0.08,Delivery Truck,1219.87,120.97,...,Aaron Bergman,Alberta,West,Corporate,Technology,Office Machines,Canon S750 Color Inkjet Printer,Jumbo Drum,0.38,7/8/2009
8371,8006,57216,7/29/2010,High,46,12719.7000,0.03,Delivery Truck,-545.82,280.98,...,Ruben Dartt,Alberta,West,Corporate,Furniture,Chairs & Chairmats,Hon 2090 Pillow Soft Series Mid Back Swivel/...,Jumbo Drum,0.78,7/29/2010
8372,8007,57216,7/29/2010,High,48,109.7800,0.03,Regular Air,4.48,2.20,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,Pens & Art Supplies,"Sanford Uni-Blazer View Highlighters, Chisel ...",Wrap Bag,0.41,7/31/2010
8373,8017,57281,4/20/2010,High,26,561.6600,0.07,Regular Air,-111.33,22.38,...,Andy Yotov,Alberta,West,Corporate,Office Supplies,Binders and Binder Accessories,"Avery Flip-Chart Easel Binder, Black",Small Box,0.38,4/20/2010
8374,8018,57281,4/20/2010,High,19,1851.6200,0.09,Delivery Truck,-220.84,100.98,...,Andy Yotov,Alberta,West,Corporate,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",Jumbo Box,0.62,4/22/2010
8383,2082,14883,5/6/2011,Low,38,978.4000,0.07,Delivery Truck,-211.58,25.98,...,Jason Fortune,Alberta,West,Corporate,Furniture,Chairs & Chairmats,"Global Stack Chair without Arms, Black",Jumbo Drum,0.60,5/11/2011
8384,2083,14883,5/6/2011,Low,47,5126.4180,0.03,Regular Air,1557.64,125.99,...,Jason Fortune,Alberta,West,Corporate,Technology,Telephones and Communication,i2000,Small Box,0.60,5/15/2011
8385,2800,20193,11/7/2010,Medium,23,82.1200,0.07,Regular Air,-121.59,3.52,...,Harry Greene,Alberta,West,Corporate,Office Supplies,Binders and Binder Accessories,Self-Adhesive Ring Binder Labels,Small Box,0.38,11/9/2010
8388,5577,39492,4/17/2011,Not Specified,31,5347.9875,0.01,Regular Air,1332.44,200.99,...,Jason Fortune,Alberta,West,Corporate,Technology,Telephones and Communication,2160i,Small Box,0.59,4/20/2011
8392,7396,52706,7/9/2012,Low,34,1041.6600,0.02,Express Air,480.53,28.53,...,Harry Greene,Alberta,West,Corporate,Office Supplies,Binders and Binder Accessories,Lock-Up Easel 'Spel-Binder',Small Box,0.38,7/16/2012
8393,7586,54279,7/30/2011,High,41,10071.0900,0.10,Delivery Truck,1977.69,264.98,...,Harry Greene,Alberta,West,Corporate,Technology,Office Machines,Panasonic KX-P1131 Dot Matrix Printer,Jumbo Drum,0.58,7/31/2011

In [222]:
store [ (store['Customer Segment'] == 'Corporate') & (store['Order Priority'] == 'High') ]

,Row ID,Order ID,Order Date,Order Priority,Order Quantity,Sales,Discount,Ship Mode,Profit,Unit Price,...,Customer Name,Province,Region,Customer Segment,Product Category,Product Sub-Category,Product Name,Product Container,Product Base Margin,Ship Date
3,80,483,7/10/2011,High,30,4965.7595,0.08,Regular Air,1198.97,195.99,...,Clay Rozendal,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,R380,Small Box,0.58,7/12/2011
6,97,613,6/17/2011,High,12,93.5400,0.03,Regular Air,-54.04,7.30,...,Carl Jackson,Nunavut,Nunavut,Corporate,Office Supplies,Binders and Binder Accessories,"Angle-D Binders with Locking Rings, Label Holders",Small Box,0.38,6/17/2011
7,98,613,6/17/2011,High,22,905.0800,0.09,Regular Air,127.70,42.76,...,Carl Jackson,Nunavut,Nunavut,Corporate,Office Supplies,Storage & Organization,"SAFCO Mobile Desk Side File, Wire Frame",Small Box,NaN,6/18/2011
8,103,643,3/24/2011,High,21,2781.8200,0.07,Express Air,-695.26,138.14,...,Monica Federle,Nunavut,Nunavut,Corporate,Office Supplies,Storage & Organization,"SAFCO Commercial Wire Shelving, Black",Large Box,NaN,3/25/2011
27,250,1761,12/23/2010,High,25,12028.2300,0.01,Delivery Truck,-547.61,449.99,...,Carl Ludwig,Nunavut,Nunavut,Corporate,Technology,Copiers and Fax,Canon PC940 Copier,Jumbo Drum,0.38,12/25/2010
32,362,2532,10/10/2011,High,39,282.0700,0.03,Regular Air,140.01,7.31,...,Alan Barnes,Nunavut,Nunavut,Corporate,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,Small Box,0.38,10/11/2011
33,363,2532,10/10/2011,High,24,426.0370,0.01,Regular Air,-78.96,20.99,...,Alan Barnes,Nunavut,Nunavut,Corporate,Technology,Telephones and Communication,Accessory37,Wrap Bag,0.81,10/11/2011
36,413,2791,10/9/2009,High,47,191.6700,0.00,Regular Air,-236.27,3.89,...,Eugene Barchas,Nunavut,Nunavut,Corporate,Office Supplies,Binders and Binder Accessories,Avery Binder Labels,Small Box,0.37,10/9/2009
37,414,2791,10/9/2009,High,49,5586.3300,0.09,Delivery Truck,80.44,120.98,...,Eugene Barchas,Nunavut,Nunavut,Corporate,Furniture,Chairs & Chairmats,Hon Every-Day Chair Series Swivel Task Chairs,Jumbo Drum,0.64,10/11/2009
38,415,2791,10/9/2009,High,18,507.6400,0.10,Regular Air,118.94,30.98,...,Eugene Barchas,Nunavut,Nunavut,Corporate,Office Supplies,Paper,"IBM Multi-Purpose Copy Paper, 8 1/2 x 11"", Case",Small Box,0.40,10/10/2009
55,817,5894,8/12/2009,High,7,384.3300,0.10,Regular Air,87.68,58.10,...,Ann Chong,Nunavut,Nunavut,Corporate,Office Supplies,Binders and Binder Accessories,Avery Arch Ring Binders,Small Box,0.38,8/13/2009
56,818,5894,8/12/2009,High,3,239.0300,0.01,Regular Air,-68.22,80.48,...,Ann Chong,Nunavut,Nunavut,Corporate,Office Supplies,Appliances,APC 7 Outlet Network SurgeArrest Surge Protector,Small Box,0.55,8/15/2009
74,1154,8391,8/28/2011,High,4,1266.7200,0.04,Delivery Truck,-268.36,300.98,...,Sylvia Foulston,Nunavut,Nunavut,Corporate,Furniture,Chairs & Chairmats,"Global Leather and Oak Executive Chair, Black",Jumbo Drum,0.56,8/29/2011
89,1370,9927,8/16/2011,High,32,4655.0700,0.00,Delivery Truck,-270.63,140.98,...,Grant Carroll,Northwest Territories,Northwest Territories,Corporate,Furniture,Bookcases,Bush Heritage Pine Collection 5-Shelf Bookcase...,Jumbo Box,0.65,8/17/2011
90,1371,9927,8/16/2011,High,44,10087.6000,0.01,Regular Air,3387.35,218.08,...,Grant Carroll,Northwest Territories,Northwest Territories,Corporate,Furniture,Chairs & Chairmats,"Lifetime Advantage Folding Chairs, 4/Carton",Large Box,0.57,8/17/2011
91,1372,9927,8/16/2011,High,34,1608.0800,0.09,Express Air,-82.16,50.98,...,Grant Carroll,Northwest Territories,Northwest Territories,Corporate,Technology,Computer Peripherals,Microsoft Natural Multimedia Keyboard,Small Box,0.73,8/17/2011
104,1594,11495,7/4/2011,High,6,965.6900,0.00,Delivery Truck,-144.20,146.34,...,Brendan Dodson,Northwest Territories,Northwest Territories,Corporate,Furniture,Tables,Bevis Round Conference Table Top & Single Colu...,Jumbo Box,0.65,7/5/2011
156,2316,16706,6/27/2012,High,47,1943.7200,0.03,Regular Air,-1003.58,41.47,...,Beth Thompson,Northwest Territories,Northwest Territories,Corporate,Furniture,Office Furnishings,Eldon Econocleat Chair Mats for Low Pile Carpets,Wrap Bag,0.73,6/28/2012
157,2317,16706,6/27/2012,High,6,18.3700,0.01,Regular Air,-4.06,2.78,...,Beth Thompson,Northwest Territories,Northwest Territories,Corporate,Office Supplies,Pens & Art Supplies,Prang Drawing Pencil Set,Wrap Bag,0.58,6/28/2012
158,2318,16706,6/27/2012,High,49,6175.7770,0.07,Express Air,1881.58,155.99,...,Beth Thompson,Northwest Territories,Northwest Territories,Corporate,Technology,Telephones and Communication,T39m,Small Box,0.55,6/29/2012
166,2483,18080,6/22/2009,High,7,1211.9800,0.10,Delivery Truck,-80.83,180.98,...,Sylvia Foulston,Northwest Territories,Northwest Territories,Corporate,Furniture,Chairs & Chairmats,Global Ergonomic Managers Chair,Jumbo Drum,0.59,6/23/2009
178,2726,19655,1/11/2009,High,31,1143.4500,0.06,Regular Air,304.42,39.24,...,Alan Barnes,Northwest Territories,Northwest Territories,Corporate,Technology,Computer Peripherals,Verbatim DVD-R 4.7GB authoring disc,Small Pack,0.51,1/12/2009
193,3089,22151,7/31/2010,High,49,465.8300,0.10,Regular Air,-79.72,9.65,...,Beth Thompson,Northwest Territories,Northwest Territories,Corporate,Furniture,Office Furnishings,"Eldon Expressions Desk Accessory, Wood Pencil...",Small Box,0.55,7/31/2010
195,3135,22469,10/11/2010,High,44,275.9100,0.10,Regular Air,-162.37,7.99,...,Jack Lebron,Northwest Territories,Northwest Territories,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,10/13/2010
196,3138,22501,5/18/2010,High,2,30.8300,0.04,Express Air,7.27,7.64,...,Alan Barnes,Northwest Territories,Northwest Territories,Corporate,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",Small Box,0.36,5/19/2010
205,3359,24038,6/20/2011,High,38,103.0700,0.10,Regular Air,-0.95,2.78,...,Jack Lebron,Northwest Territories,Northwest Territories,Corporate,Office Supplies,Pens & Art Supplies,Prang Drawing Pencil Set,Wrap Bag,0.45,6/22/2011
209,3380,24128,11/23/2010,High,13,270.6300,0.10,Regular Air,7.07,21.98,...,Eugene Barchas,Northwest Territories,Northwest Territories,Corporate,Office Supplies,Paper,Standard Line While You Were Out Hardbound ...,Wrap Bag,0.39,11/25/2010
210,3381,24128,11/23/2010,High,43,6583.9130,0.09,Regular Air,1459.79,195.99,...,Eugene Barchas,Northwest Territories,Northwest Territories,Corporate,Technology,Telephones and Communication,CF 888,Small Box,0.59,11/25/2010
223,3604,25767,3/3/2012,High,7,261.8800,0.08,Regular Air,-59.20,39.48,...,Ann Chong,Northwest Territories,Northwest Territories,Corporate,Technology,Computer Peripherals,"80 Minute CD-R Spindle, 100/Pack - Staples",Small Pack,0.54,3/3/2012
224,3605,25767,3/3/2012,High,15,593.7300,0.04,Regular Air,108.01,38.76,...,Ann Chong,Northwest Territories,Northwest Territories,Corporate,Office Supplies,Paper,Xerox 1892,Small Box,0.36,3/4/2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7812,7589,54307,1/8/2012,High,14,3849.8000,0.04,Delivery Truck,192.20,280.98,...,Lauren Leatherbury,Alberta,West,Corporate,Furniture,Tables,Global Adaptabilities Conference Tables,Jumbo Box,0.66,1/9/2012
7846,877,6304,8/11/2011,High,30,199.1100,0.01,Regular Air,-83.33,6.48,...,Adam Shillingsburg,Alberta,West,Corporate,Office Supplies,Paper,Xerox 1966,Small Box,0.36,8/13/2011
7884,2979,21510,5/8/2012,High,16,372.0900,0.04,Express Air,98.28,22.24,...,Alyssa Crouse,Alberta,West,Corporate,Technology,Computer Peripherals,"Verbatim DVD-R, 3.95GB, SR, Mitsubishi Branded...",Small Pack,0.43,5/8/2012
7912,4221,29988,6/12/2009,High,12,5177.4000,0.06,Delivery Truck,287.50,449.99,...,Adam Shillingsburg,Alberta,West,Corporate,Technology,Copiers and Fax,Canon PC940 Copier,Jumbo Drum,0.38,6/14/2009
7944,5509,39072,2/22/2009,High,50,1633.3700,0.08,Regular Air,144.69,34.99,...,Adam Shillingsburg,Alberta,West,Corporate,Office Supplies,Pens & Art Supplies,Hunt Boston Vacuum Mount KS Pencil Sharpener,Small Box,0.59,2/23/2009
7947,5612,39750,3/27/2009,High,7,140.5900,0.01,Regular Air,-35.88,17.98,...,Adam Shillingsburg,Alberta,West,Corporate,Technology,Office Machines,Canon P1-DHIII Palm Printing Calculator,Medium Box,0.40,3/28/2009
8036,2554,18496,5/15/2009,High,30,991.0100,0.01,Regular Air,46.29,30.98,...,Larry Tron,Alberta,West,Corporate,Technology,Computer Peripherals,Belkin ErgoBoard Keyboard,Small Box,0.64,5/16/2009
8037,2555,18496,5/15/2009,High,29,1267.4200,0.01,Regular Air,177.79,40.99,...,Larry Tron,Alberta,West,Corporate,Office Supplies,Paper,"White Dual Perf Computer Printout Paper, 2700 ...",Small Box,0.36,5/18/2009
8044,2688,19457,7/12/2009,High,34,203.4900,0.05,Regular Air,90.35,6.30,...,Alice McCarthy,Alberta,West,Corporate,Office Supplies,Labels,Avery 51,Small Box,0.39,7/13/2009
8045,2689,19457,7/12/2009,High,33,5638.7980,0.09,Express Air,1406.05,205.99,...,Alice McCarthy,Alberta,West,Corporate,Technology,Telephones and Communication,6185,Small Box,0.58,7/14/2009
8059,3773,26947,6/4/2010,High,4,467.1500,0.01,Delivery Truck,-212.34,100.80,...,Bruce Money,Alberta,West,Corporate,Furniture,Tables,"Barricks 18"" x 48"" Non-Folding Utility Table w...",Jumbo Drum,0.59,6/7/2010
8082,5064,36101,8/20/2012,High,3,446.0500,0.09,Delivery Truck,-271.26,140.98,...,Ann Steele,Alberta,West,Corporate,Furniture,Bookcases,Bush Heritage Pine Collection 5-Shelf Bookcase...,Jumbo Box,0.65,8/21/2012
8083,5107,36387,11/7/2011,High,32,616.3900,0.09,Regular Air,148.28,20.89,...,Brian DeCherney,Alberta,West,Corporate,Technology,Computer Peripherals,"IBM 80 Minute CD-R Spindle, 50/Pack",Small Pack,0.48,11/10/2011
8088,5226,37218,12/19/2010,High,29,1768.1300,0.00,Regular Air,525.54,60.97,...,Frank Merwin,Alberta,West,Corporate,Office Supplies,Appliances,Tripp Lite Isotel 6 Outlet Surge Protector wit...,Small Box,0.56,12/21/2010
8089,5227,37218,12/19/2010,High,23,147.0500,0.08,Regular Air,-54.91,6.48,...,Frank Merwin,Alberta,West,Corporate,Office Supplies,Paper,Xerox 1998,Small Box,0.37,12/20/2010
8112,6812,48486,5/12/2011,High,42,271.1400,0.07,Regular Air,-174.74,6.48,...,Frank Merwin,Alberta,West,Corporate,Office Supplies,Paper,Xerox 216,Small Box,0.37,5/14/2011
8115,6928,49442,8/9/2012,High,11,131.1200,0.03,Regular Air,-24.81,11.50,...,Brian DeCherney,Alberta,West,Corporate,Office Supplies,Binders and Binder Accessories,Ibico Covers for Plastic or Wire Binding Elements,Small Box,0.40,8/9/2012
8118,7230,51557,10/31/2011,High,36,1749.0700,0.04,Regular Air,804.66,48.04,...,Craig Carroll,Alberta,West,Corporate,Office Supplies,Paper,Xerox 1937,Small Box,0.37,11/2/2011
8119,7231,51557,10/31/2011,High,14,37.9000,0.08,Regular Air,-22.01,2.60,...,Craig Carroll,Alberta,West,Corporate,Office Supplies,Pens & Art Supplies,12 Colored Short Pencils,Wrap Bag,0.58,10/31/2011
8139,3,32,7/15/2011,High,26,2808.0800,0.07,Regular Air,1054.82,107.53,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Office Furnishings,Tenex Contemporary Contur Chairmats for Low an...,Medium Box,0.65,7/17/2011
8140,4,32,7/15/2011,High,24,1761.4000,0.09,Delivery Truck,-1748.56,70.89,...,Liz Pelletier,Alberta,West,Corporate,Furniture,Tables,KI Conference Tables,Jumbo Box,0.72,7/16/2011
8141,5,32,7/15/2011,High,23,160.2335,0.04,Regular Air,-85.13,7.99,...,Liz Pelletier,Alberta,West,Corporate,Technology,Telephones and Communication,Bell Sonecor JB700 Caller ID,Medium Box,0.60,7/17/2011
8166,998,7203,1/8/2009,High,25,21752.0100,0.03,Regular Air,9296.35,896.99,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,Binders and Binder Accessories,GBC DocuBind TL300 Electric Binding System,Small Box,0.38,1/10/2009
8196,1529,11013,4/17/2009,High,2,226.8820,0.01,Regular Air,-582.65,125.99,...,Ruben Dartt,Alberta,West,Corporate,Technology,Telephones and Communication,M70,Small Box,0.59,4/18/2009
8234,2847,20513,7/7/2009,High,13,42.2700,0.01,Express Air,4.56,2.84,...,Aaron Bergman,Alberta,West,Corporate,Office Supplies,Pens & Art Supplies,SANFORD Liquid Accent Tank-Style Highlighters,Wrap Bag,0.54,7/8/2009
8371,8006,57216,7/29/2010,High,46,12719.7000,0.03,Delivery Truck,-545.82,280.98,...,Ruben Dartt,Alberta,West,Corporate,Furniture,Chairs & Chairmats,Hon 2090 Pillow Soft Series Mid Back Swivel/...,Jumbo Drum,0.78,7/29/2010
8372,8007,57216,7/29/2010,High,48,109.7800,0.03,Regular Air,4.48,2.20,...,Ruben Dartt,Alberta,West,Corporate,Office Supplies,Pens & Art Supplies,"Sanford Uni-Blazer View Highlighters, Chisel ...",Wrap Bag,0.41,7/31/2010
8373,8017,57281,4/20/2010,High,26,561.6600,0.07,Regular Air,-111.33,22.38,...,Andy Yotov,Alberta,West,Corporate,Office Supplies,Binders and Binder Accessories,"Avery Flip-Chart Easel Binder, Black",Small Box,0.38,4/20/2010
8374,8018,57281,4/20/2010,High,19,1851.6200,0.09,Delivery Truck,-220.84,100.98,...,Andy Yotov,Alberta,West,Corporate,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Fully Ass...",Jumbo Box,0.62,4/22/2010
8393,7586,54279,7/30/2011,High,41,10071.0900,0.10,Delivery Truck,1977.69,264.98,...,Harry Greene,Alberta,West,Corporate,Technology,Office Machines,Panasonic KX-P1131 Dot Matrix Printer,Jumbo Drum,0.58,7/31/2011

In [228]:
df = pd.DataFrame({'temp':pd.Series(28 + 10*np.random.randn(10)),
                   'rain':pd.Series(100 + 50*np.random.randn(10)),
                   'location':list('AAAAABBBBB')})
print(df.head(),end='\n\n')
df.replace({'location':{'A':'Hyderabad','B':'Mumbai'}})

  location        rain       temp
0        A  100.150872  32.282329
1        A   96.198827  29.088720
2        A  100.197880  28.282836
3        A   90.749294  22.211742
4        A  -24.357577  16.005488

    location        rain       temp
0  Hyderabad  100.150872  32.282329
1  Hyderabad   96.198827  29.088720
2  Hyderabad  100.197880  28.282836
3  Hyderabad   90.749294  22.211742
4  Hyderabad  -24.357577  16.005488
5     Mumbai   14.767440  10.940480
6     Mumbai   43.186950  31.691640
7     Mumbai  -48.665774  46.765734
8     Mumbai  101.665864  24.230966
9     Mumbai   87.555567  46.319361

In [239]:
replacements = {
'location': {'A':'Hyderabad', 'B':'Mumbai'}
}
df = df.replace(replacements, regex=True)
print(df.head(2))

    location        rain       temp
0  Hyderabad  100.150872  32.282329
1  Hyderabad   96.198827  29.088720

In [242]:
df.loc[df.location.str.contains('bai'),:]

  location        rain       temp
5   Mumbai   14.767440  10.940480
6   Mumbai   43.186950  31.691640
7   Mumbai  -48.665774  46.765734
8   Mumbai  101.665864  24.230966
9   Mumbai   87.555567  46.319361

In [246]:
df.groupby('location').mean()

                rain       temp
location
Hyderabad  72.587859  25.574223
Mumbai     39.702009  31.989636

In [250]:
heights_A = Series([176.2, 158.4, 167.6, 156.2, 161.4],index = 's1, s2, s3, s4, s5'.split(', '))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index = 's1, s2, s3, s4, s5'.split(', '))
df_A = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
df_A_filter1 = df_A[ (df_A.Student_height > 160.0) & (df_A.Student_weight < 80.0)]
print(df_A_filter1)

    Student_height  Student_weight
s3           167.6            76.8
s5           161.4            78.9

In [257]:
heights_A = Series([176.2, 158.4, 167.6, 156.2, 161.4],index = 's1, s2, s3, s4, s5'.split(', '))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index = 's1, s2, s3, s4, s5'.split(', '))
df_A = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
df_A_filter2 = df_A [df_A.index.str.endswith('5')]
print(df_A_filter2 )

    Student_height  Student_weight
s5           161.4            78.9

In [258]:
heights_A = Series([176.2, 158.4, 167.6, 156.2, 161.4],index = 's1, s2, s3, s4, s5'.split(', '))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index = 's1, s2, s3, s4, s5'.split(', '))
df_A = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
df_A['Gender'] = ['M', 'F', 'M', 'M', 'F']
df_groups = df_A.groupby('Gender').mean()
print(df_groups)

        Student_height  Student_weight
Gender
F           159.900000       84.550000
M           166.666667       80.766667

In [270]:
df = DataFrame({'A':[5 for i in range(10)],'B':[5 for i in range(10)]})
df.index = [ 'r1', 'r2', 'r3', 'row4', 'row5', 'row6', 'r7', 'r8', 'r9', 'row10']
g = df.groupby(df.index.str.len())
print(g)
g.filter(lambda x: len(x) > 1)

<pandas.core.groupby.DataFrameGroupBy object at 0x000002840BD52A90>

      A  B
r1    5  5
r2    5  5
r3    5  5
row4  5  5
row5  5  5
row6  5  5
r7    5  5
r8    5  5
r9    5  5

In [272]:
print(df)
g = df.groupby(df.index.str.len())
g.aggregate({'A':len, 'B':np.sum})

       A  B
r1     5  5
r2     5  5
r3     5  5
row4   5  5
row5   5  5
row6   5  5
r7     5  5
r8     5  5
r9     5  5
row10  5  5

   A   B
2  6  30
4  3  15
5  1   5

In [274]:
df = DataFrame(np.arange(12).reshape(3,4),index = ['r1', 'r2', 'r3'],columns=['A', 'B', 'C', 'D'])
df.iloc[:, lambda x : [0,3]]

    A   D
r1  0   3
r2  4   7
r3  8  11

In [286]:
heights_A = Series([176.2, 158.4, 167.6, 156.2, 161.4],index = 's1, s2, s3, s4, s5'.split(', '))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index = 's1, s2, s3, s4, s5'.split(', '))
df_A1 = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
df_A2 = df_A1.copy()
print(pd.merge(df_A1,df_A2,on=['Student_height']),end='\n\n')    # Use merge for merging on Column
print(pd.merge(df_A1,df_A2,on=['Student_weight']),end='\n\n')
print(pd.merge(df_A1,df_A2,on=['Student_height','Student_weight']),end='\n\n')

   Student_height  Student_weight_x  Student_weight_y
0           176.2              85.1              85.1
1           158.4              90.2              90.2
2           167.6              76.8              76.8
3           156.2              80.4              80.4
4           161.4              78.9              78.9

   Student_height_x  Student_weight  Student_height_y
0             176.2            85.1             176.2
1             158.4            90.2             158.4
2             167.6            76.8             167.6
3             156.2            80.4             156.2
4             161.4            78.9             161.4

   Student_height  Student_weight
0           176.2            85.1
1           158.4            90.2
2           167.6            76.8
3           156.2            80.4
4           161.4            78.9

In [296]:
heights_A = Series([176.2, 158.4, 167.6, 156.2, 161.4],index = 's1, s2, s3, s4, s5'.split(', '))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index = 's1, s2, s3, s4, s5'.split(', '))
blood_A = Series([15.1, 80.2, 50.8, 84.4, 62.9],index = 's1, s2, s3, s4, s5'.split(', '))
df_A1 = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
df_A2 = DataFrame({'Student_height':heights_A,'Blood':blood_A})
df_A1.set_index('Student_height',inplace=True)
df_A2.set_index('Student_height',inplace=True)
df_A1.join(df_A2)              # use for respecting the index values

                Student_weight  Blood
Student_height
176.2                     85.1   15.1
158.4                     90.2   80.2
167.6                     76.8   50.8
156.2                     80.4   84.4
161.4                     78.9   62.9

In [311]:
heights_A = Series([176.2, 158.4, 167.6, 156.2, 161.4],index = 's1, s2, s3, s4, s5'.split(', '))
weights_A = Series([85.1, 90.2, 76.8, 80.4, 78.9],index = 's1, s2, s3, s4, s5'.split(', '))
df_A = DataFrame({'Student_height':heights_A,'Student_weight':weights_A})
df_A['Gender'] = ['M', 'F', 'M', 'M', 'F']
s = Series([165.4, 82.7, 'F'], index= ['Student_height', 'Student_weight', 'Gender'],name='s6')
df_AA = df_A.append(s)
print(df_AA)

    Student_height  Student_weight Gender
s1           176.2            85.1      M
s2           158.4            90.2      F
s3           167.6            76.8      M
s4           156.2            80.4      M
s5           161.4            78.9      F
s6           165.4            82.7      F

In [315]:
np.random.seed(100)
heights_B = Series(170 + 25*np.random.randn(5),index = 's1, s2, s3, s4, s5'.split(', '))
np.random.seed(100)
weights_B = Series(75 + 12*np.random.randn(5),index = 's1, s2, s3, s4, s5'.split(', '))
df_B = DataFrame({'Student_height':heights_B,'Student_weight':weights_B})
df_B.index = ['s7', 's8', 's9', 's10', 's11']
df_B['Gender'] =  ['F', 'M', 'F', 'F', 'M']
df = pd.concat([df_AA,df_B])
print(df)

     Student_height  Student_weight Gender
s1       176.200000       85.100000      M
s2       158.400000       90.200000      F
s3       167.600000       76.800000      M
s4       156.200000       80.400000      M
s5       161.400000       78.900000      F
s6       165.400000       82.700000      F
s7       126.255863       54.002814      F
s8       178.567010       79.112165      M
s9       198.825895       88.836430      F
s10      163.689099       71.970768      F
s11      194.533020       86.775849      M

In [316]:
nameid = pd.Series(range(101, 111))
name = pd.Series(['person' + str(i) for i in range(1, 11)])
master = DataFrame({'nameid':nameid,'name':name})
transaction = pd.DataFrame({'nameid':[108, 108, 108,103], 'product':['iPhone', 'Nokia', 'Micromax', 'Vivo']})
mdf = master.merge(transaction, on = 'nameid',how='inner')
print(mdf)

      name  nameid   product
0  person3     103      Vivo
1  person8     108    iPhone
2  person8     108     Nokia
3  person8     108  Micromax

In [320]:
s1 = pd.Series([0, 1, 2, 3])
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5])
d = pd.concat([s1, s2, s3], axis=1)
print(d)
d.shape

   0  1  2
0  0  0  0
1  1  1  1
2  2  2  4
3  3  3  5

(4, 3)

In [322]:
data = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, columns=['a', 'b'])
df.shape

(2, 2)

In [323]:
len(pd.bdate_range('11-Sep-2017', '17-Sep-2017', freq='2D')
)

4

In [325]:
s = pd.Series([89.2, 76.4, 98.2, 75.9], index=list('abcd'))
'b' in s

True

In [337]:
s.name = 'some series'
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [338]:
df = DataFrame(np.arange(12).reshape(3,4),index = ['r1', 'r2', 'r3'],columns=['A', 'B', 'C', 'D'])
df[lambda x : x.index.str.endswith('3')]

    A  B   C   D
r3  8  9  10  11

In [341]:
df = DataFrame(np.arange(12).reshape(3,4),index = ['r1', 'r2', 'r3'],columns=['A', 'B', 'C', 'D'])
del df['A']
df

    B   C   D
r1  1   2   3
r2  5   6   7
r3  9  10  11

In [343]:
df = pd.DataFrame({'A':[34, 78, 54], 'B':[12, 67, 43]}, index=['r1', 'r2', 'r3'])
df.loc['r4'] = [67, 78]
df

     A   B
r1  34  12
r2  78  67
r3  54  43
r4  67  78

In [345]:
s1 = pd.Series([0, 1, 2, 3])
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5])
d = pd.concat([s1, s2, s3], axis=1)
d.shape

(4, 3)

In [346]:
len(pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D'))

4

In [347]:
d = pd.date_range('11-Sep-2017', '17-Sep-2017', freq='2D')
d + pd.Timedelta('1 days 2 hours')

DatetimeIndex(['2017-09-12 02:00:00', '2017-09-14 02:00:00',
               '2017-09-16 02:00:00', '2017-09-18 02:00:00'],
              dtype='datetime64[ns]', freq='2D')

In [349]:
df = DataFrame(np.arange(12).reshape(3,4),index = ['r1', 'r2', 'r3'],columns=['A', 'B', 'C', 'D'])
df['E'] = [1,2,3]
df

    A  B   C   D  E
r1  0  1   2   3  1
r2  4  5   6   7  2
r3  8  9  10  11  3